.reservation-bloc{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 75px 150px;
    background: #344D59;
    padding: 25px;
    border-radius: 30px;
}

.bloc-description{
    background: #709CA7;
    padding: 25px;
    border-radius: 30px;
    height: 500px;
    width: auto;
    overflow: auto;
    max-width: 400px;
    scrollbar-width: none;
}

.bloc-description p{
    text-align: left;
    background: #137C8B;
    color: #344D59;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.bloc-description details{
    text-align: left;
    font-size: 25px;
    color: #344D59;
    font-family: Arial, sans-serif;
    margin: 25px;
    border-radius: 10px;
}

.select-formu{
    font-family: Arial, sans-serif;
    background-color: #B8CBD0;
    border: 4px solid #344D59;
    border-radius: 30px;
    width: 300px;
    height: 35px;
    margin: 20px;
    padding: 0 15px;
    place-self: center;
}