.entete{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #7A90A4;
    height: 150px;
    width: 100%;

}

.nom-site{
    display: grid;
    place-items: center;
    color: #B8CBD0;
    font-size: 50px;
    padding: 25px;
    text-align: center;
    height: auto;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nom-contenneur{
    display: flex;
    align-content: center;
    justify-content: center;
}

.entete-droite{
    display: flex;
    margin: 50px;
    gap: 50px;
}

.connexion-lien{
    text-decoration: none;
}

.bouton{
    background: #B8CBD0;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.2s;
    border: none;
    color: #344D59;
}

.bouton:hover{
    box-shadow: 0 0 0 4px #709CA7,
                0 0 0 8px #137C8B;
}

.connexion-lien a:hover a:active a:visited{
    color: #7A90A4;
}

.bouton-contenneur{
    display: grid;
    align-items: center;
}

.barre-recherche{
    max-height: 33px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #B8CBD0;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 0;
    outline: 0;
    border: none;
    font-weight: 500;
    transition: 0.8s;
}

.barre-recherche:hover{
    width: 150px;
}

.bas-page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    margin-top: 100px;
    background-color: #344D59;
}

.bloc-principal{
    display: flex;
    background: #709CA7;
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    gap: 25px;
}

.image-site{
    height: auto;
    width: 800px;
    border-radius: 30px;
}

.image-contenneur{
    display: grid;
    place-items: center;
    background: #344D59;
    border-radius: 50px;
    padding: 25px;
}

.despription{
    font-size: 30px;
    background: #B8CBD0;
    border-radius: 30px;
    padding: 20px;
    margin: 0;
}


.corps{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #B8CBD0;
}

.description-contenneur{
    display: grid;
    place-items: center;
    padding: 30px;
    font-family: sans-serif;
    color: #344D59;
    background: #344D59;
    border-radius: 30px;
    height: fit-content;
    place-self: center;
}

.panier-bloc{
    display: flex;
    gap: 30px;
    place-items: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    justify-content: space-between;
}


#709CA7
#7A90A4
#B8CBD0
#137C8B