.entete {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #1E2A30; /* plus foncé */
    height: 150px;
    width: 100%;
}

.corps{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #344D59;
}

.nom-site {
    display: grid;
    place-items: center;
    color: #DCE6E9; /* texte clair */
    font-size: 50px;
    padding: 25px;
    text-align: center;
    height: auto;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nom-contenneur {
    display: flex;
    align-content: center;
    justify-content: center;
}

.entete-droite {
    display: flex;
    margin: 50px;
    gap: 50px;
}

.connexion-lien {
    text-decoration: none;
}

.bouton {
    background: #DCE6E9;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.2s;
    border: none;
    color: #1E2A30;
}

.bouton:hover {
    box-shadow: 0 0 0 4px #3D5B64,
    0 0 0 8px #0C5A63;
}

.connexion-lien a:hover,
.connexion-lien a:active,
.connexion-lien a:visited {
    color: #A3B1BE;
}

.bouton-contenneur {
    display: grid;
    align-items: center;
}

.barre-recherche {
    max-height: 33px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #DCE6E9;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 0;
    outline: 0;
    border: none;
    font-weight: 500;
    transition: 0.8s;
}

.barre-recherche:hover {
    width: 150px;
}

.bas-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    margin-top: 100px;
    background-color: #1E2A30;
}

.bloc-principal {
    display: flex;
    background: #3D5B64;
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    gap: 25px;
}

.image-site {
    height: auto;
    width: 800px;
    border-radius: 30px;
}

.image-contenneur {
    display: grid;
    place-items: center;
    background: #1E2A30;
    border-radius: 50px;
    padding: 25px;
}

.despription {
    font-size: 30px;
    background: #DCE6E9;
    border-radius: 30px;
    padding: 20px;
    margin: 0;
    color: #1E2A30;
}

.description-contenneur {
    display: grid;
    place-items: center;
    padding: 30px;
    font-family: sans-serif;
    color: #DCE6E9;
    background: #1E2A30;
    border-radius: 30px;
    height: fit-content;
    place-self: center;
}
